{
  "service_code_dir_mapping": {
    "enabled": true
  },
  "services": [
    {
      "service": "LF3905_compliancemng",
      "agentsmd_dir": "sys/LF3905/Backend/LF3905_compliancemng"
    },
    {
      "service": "后端系统约束",
      "agentsmd_dir": "sys/LF3905/Backend"
    },
    {
      "service": "LF3905_pccompliancemng",
      "agentsmd_dir": "sys/LF3905/Front/LF3905_bcpccomplianceui"
    }
  ],
  "active_condition": true
}
